

<div class="grid gap-x-10 md:grid-cols-14 ml-56 p-6 max-h-screen overflow-y-auto">
  {{> _sidePanel activeUsers=true}}

  <div class="md:col-span-10 ml-10 mr-10">
    <div class=" text-gray-500 text-sm italic">
        HRIS / </a>
        <span>Users</span>
        </div>
    <div class="mt-10 rounded-lg shadow-md bg-white">
      <h2 class="p-5 font-bold">Users</h2>
      <div class="flex justify-end items-center space-x-4 p-4">
        <input id="searchInputUsers" type="text" placeholder="Search Name..." class="p-1 text-sm border border-gray-300 rounded-md focus:outline-none focus:border-secondary-200">
        <button id="showAllUsers" class="px-3 py-1 text-sm text-secondary-200 border border-secondary-200 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-md">Show All</button>
        <label for="toggle" class="text-sm text-gray-700">Toggle Status</label>
        <i id="toggleActiveUsers" class="fa-solid fa-toggle-on text-xl text-green-500 cursor-pointer"></i>
        <i id="toggleInactiveUsers" class="fa-solid fa-toggle-off text-xl text-secondary-500 cursor-pointer hidden"></i>
         
      </div>
      <div class="p-4 mb-6">
        <table id="userTable" class="table-auto w-full border-collapse bg-white rounded-lg">
          <thead>
            <tr class="text-gray-600 align-top text-xs lg:text-sm leading-normal">
              <th class="py-3 px-4 text-left cursor-pointer hover:text-secondary-600" data-column="name">Name</th>
              <th class="py-3 px-4 text-left cursor-pointer hover:text-secondary-600" data-column="role">Role</th>
              <th class="py-3 px-4 text-left cursor-pointer hover:text-secondary-600" data-column="email">Email</th>
              <th class="py-3 px-4 text-left cursor-pointer hover:text-secondary-600 hidden" data-column="userStatus">Status</th>
              <th class="py-3 px-4 text-left cursor-pointer hover:text-secondary-600" data-column="assignedConsultant">Consultant Profile</th>
            </tr>
          </thead>
          <tbody id="userTableBody" class="text-gray-600 text-xs lg:text-sm font-light">
            {{#each users}}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td data-column="name" class="py-3 px-4 text-left">
                <a href="/users/{{this._id}}" class="flex items-center space-x-2 text-secondary-400 hover:underline">
                  {{#if this.profilePicture}}
                    <img src="{{this.profilePicture}}" alt="Profile Picture" class="w-8 h-8 rounded-full">
                  {{/if}}
                  <span>{{this.name}}</span>
                </a>
              </td>
              <td data-column="role" class="py-3 px-4 text-left">{{this.role}}</td>
              <td data-column="email" class="py-3 px-4 text-left">{{this.email}}</td>
              {{!-- <td data-column="passwordChangedAt" class="py-3 px-4 text-left">
                  {{#if this.passwordChangedAt}}
                    {{formatDateTime this.passwordChangedAt}}
                  {{else}}
                    <span class="text-gray-500">Never Changed</span>
                  {{/if}}
              </td> --}}
              <td data-column="assignedConsultant" class="py-3 px-4 text-left">
                  {{#if this.consultant_id}}
                    <a href="/consultant/{{this.consultant_id._id}}" class="text-blue-500 hover:underline">
                      {{this.consultant_id.name}}
                    </a>
                  {{else}}
                    <span class="text-gray-500">Not Assigned</span>
                  {{/if}}
              </td>
              <td data-column="userStatus" class="py-3 px-4 text-left hidden">
                {{#if this.active}}
                  <i class="fas fa-check-circle text-green-500"></i> Active
                {{else}}
                  <i class="fas fa-times-circle text-red-500 consultant-inactive"></i> Inactive
                {{/if}}
              </td>
              
              {{!-- <td data-column="contractEndDate" class="py-3 px-4 text-left">{{formatDate this.contractEndDate}}</td> --}}
              {{!-- <td data-column="consultantStatus" class="py-3 px-4 text-left hidden">
                {{#if (eq this.consultantStatus "Active")}}
                  <i class="fas fa-check-circle text-green-500"></i> Active
                {{else}}
                  <i class="fas fa-times-circle text-red-500 consultant-inactive"></i> Inactive
                {{/if}}
              </td>
              <td data-column="assignedMilestones" class="py-3 px-4 text-lef">
                {{#each (extractMilestoneNames this.assignedMilestones)}}
                    <span class="px-2 py-1 mt-1 mb-2 flex content-around rounded-lg bg-slate-300 ">{{this.projectName}}: {{this.milestoneName}}</span>
                {{/each}}
              </td>
            </tr> --}}
            {{/each}}
          </tbody>
        </table>
      </div>
      <!-- Pagination Controls -->
      {{!-- <div class="flex justify-between items-center p-4">
        <span class="text-xs">Page {{currentPage}} of {{totalPages}}</span>
          <div class="flex space-x-2">
            {{#if (gt currentPage 1)}}
              <a href="?page={{subtract currentPage 1}}" class="px-3 py-1 text-xs text-secondary-200 border border-secondary-200 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-md">Previous</a>
            {{/if}}
            {{#if (lt currentPage totalPages)}}
              <a href="?page={{add currentPage 1}}" class="px-3 py-1 text-xs text-secondary-200 border border-secondary-200 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-md">Next</a>
            {{/if}}
        </div>
      </div> --}}
    </div>
  </div>
</div>

